// Styles personnalisés
body {
    background-color: $body-bg;
    color: $body-color;
}

// Icône poubelle en rouge
.fa-trash {
    color: $danger;
}

.fa-pen {
    color: $success;
}

table {
    border: 2px solid $text-main;
    border-collapse: collapse; // recommandé pour un rendu propre

    th {
        background-color: $primary;
        color: white;
        border: 1px solid white;
        text-align: center;
    }

    td {
        border: 1px solid $text-main;
        text-align: center;
    }
}